# TECHBYTE SUMMIT 26 - Google Apps Script Web App Deployment URL
# Must be the deployed Web App URL ending in /exec (NOT /echo)
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec
